.home-container {
    background-image: linear-gradient(140deg, #FFFFFF00 0%, #EBEDEFDE 100%);
    width: 100%;
    display: grid;
    grid-template-areas:
        'video'
    ;
}

.home-left {
    color: white;
    /* width: 30%; */
    grid-area: home-left;
}

.home-left h5 {
    font-size: 17px;
    padding: 3rem 0 0;
}

.home-left h1 {
    font-size: 60px;
    line-height: 7rem;
    padding: 3rem 0;
}

.home-left p {
    font-size: 15px;
    padding-bottom: 3rem;
}

.home-left button {
    color: white;
    background-color: #F80000;
    border: none;
    padding: 0.6em;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    width: 45%;
    cursor: pointer;
}

.home-left button:hover {
    background-color: #b60909;
}

.home-right {
    grid-area: home-right;
}


.heroVideo {
    grid-area: video;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.videoOverlay {
    grid-area: video;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(31, 43, 63, 0.2);
    /* mix-blend-mode: overlay; */
    /* mix-blend-mode: luminosity; */
    mix-blend-mode: screen;
}

.secondOverlay {
    grid-area: video;
    width: 100%;
    height: 100%;
    color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "home-left home-right";
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 925px) {
    .home-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "home-left"
            "home-right";
        justify-content: center;
        align-items: center;
    }

    .home-left {
        width: 80%;
        justify-self: center;
    }

    .home-right img {
        width: 320px;
        padding-top: 4rem;
    }

    .home-left button {
        width: 50%;
    }
}