.detailed-glass-container{
    display: grid;
    grid-template-areas: 
    "glass-photo-container-detailed price-and-btn-detailed";
    align-items: center;
    width: 80%;
    margin: 5rem auto;
    background-color: #415161;
    color: white;
    border-radius: 5px;
    /* height: 507.2px; */
}
.glass-photo-container-detailed{
    grid-area: "glass-photo-container-detailed";
    width: 400px;
    overflow: hidden;
    transition: 0.5s;
}
.glass-photo-container-detailed img:hover{
    transform: scale(1.05);
    border-radius: 5px;
}
.glass-photo-container-detailed img{
    width: 400px;
    border-radius: 5px;
    transition: 0.5s;
}
.price-and-btn-detailed{
    grid-area: "price-and-btn-detailed";
    width: 60%;
    margin: 0 auto;
}
.glass-title-detailed{
    font-size: 4rem;
}
.glass-desc-detailed{
    font-size: 2rem;
    font-weight: 300;
}
.glass-price-detailed{
    font-size: 2.5rem;
    display: block;
    margin-top: 1rem;
}
.buy-glass-btn{
    text-decoration: none;
    color: white;
    background-color: #F80000;
    border: none;
    padding: 0.6em;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 2rem 0;
}
.buy-glass-btn:hover{
    background-color: #b60909;
    
}
@media screen and (max-width: 970px){
    .detailed-glass-container{
        grid-template-areas: 
        "glass-photo-container-detailed"
        "price-and-btn-detailed";
    }
    .glass-photo-container-detailed img{
        width: 100%;
    }
    .glass-photo-container-detailed{
        width: 100%;
    }
    .price-and-btn-detailed{
        width: 80%;
        margin-left: 1.5rem;
    }
    .glass-title-detailed{
        font-size: 2.5rem;
    }
    .glass-desc-detailed{
        font-size: 1rem;
    }
    .glass-price-detailed{
        font-size: 2rem;
    }
}