@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
    /* font-size: 16px; */
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;

}

hr {
    width: 20%;
    margin: 1rem auto 2rem auto;
    background: #0084c1;
    border-color: #0084c1;
    border-width: 1px;

}